.containerAdminPage{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 10px;
    padding-buttom: 10px;
}

.akunLogin{
    margin-top: 10px; 
}

.tambahProduct:hover{
    background-color: white;
    color: green; 
}

.containerCard {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-gap: 10px; 
}

.cardAdmin{
    display:flex;
    border: 1px solid green !important;
    width: 200px;
    position: relative
}

.nomorProductAdmin{
    position: absolute;
    font-size: 15px;
    border: 1px solid green;
    background-color: green;
    padding: 0px 5px;
    color: white;
    left: 13px;
}

.imageProductUtama{
    display:flex;
    justify-content:center;
    align-items:center;
    object-fit: cover;
    height:150px;
    width:150px !important;
    margin: 5px auto; 
    padding: 2px;
}

.containerImageProduct{
    display:flex;
    padding: 0px 5px;
    gap: 15px;
    overflow-x: auto;
    width: 190px
}

.imageProduct {
    object-fit: cover;
    width: 50px !important;
    height: 50px;
    border: 1px solid green;
    padding: 2px; 
    justify-content:center;
    align-items:center;
} 

.cardBodyAdminPage{
    display: flex !important;
    flex-direction: column;
    padding: 5px 10px 0px !important;
}

.titleProduct{
    font-size: 13px !important; 
    height: 32px;
    overflow-x: auto;
}

.linkProduct{
    height: 100px;
    border: 1px solid green;
    padding: 1px 2px;
    overflow-x: auto;
    margin: 0px !important; 
}

.action{
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align: center; 
    overflow-x: auto;
    white-space: nowrap;
    height: 30px;
}

.tambahProduct, .update, .delete{
    background-color: green;
    color: white; 
    padding: 0px 4px;
    margin: 3px 0px;
    border-radius: 10px; 
    font-size: 7px;
}

.update, .delete, .tambahProduct {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    background-color: green !important;
    border: 2px solid green !important;
    color: white !important;
    font-size: 7px !important;
    padding: 0px 4px !important;
    margin: 3px 0px !important;
    border-radius: 10px !important;
}

.tambahProduct{
    height:20px;
    padding: 0px 7px !important;
    margin: 3px 0px 10px 0px !important;
}

.delete{
    background-color: red !important;
    border: 2px solid red !important;
}

.tambahProduct:hover, .update:hover{
    background-color: white !important;
    color: green !important;
}

.delete:hover{
    background-color: white !important;
    color: red !important;
}


@media (max-width: 700px) {
    .containerCard {
      grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    .containerCard {
      grid-template-columns: auto;
    }
  }

  